<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link href="webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    <script src="webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>

<form action="" method="post" th:action="@{/showExpressions}" th:object="${cardDTO}">

    <ul>
                <li th:each="card : ${allCardList}">
                    <!--                    <a href="#"><input type="checkbox"><img alt="" border=3-->
                    <!--                                                            height=100 th:src="${card.path}" width=100/></input></a>-->
                        <input type="checkbox" name="card"
                               th:field="*{cardList}"
                               th:value="${card.id}"/>
                        <img alt="" border=3 height=100 th:src="${card.path}" width=100/>
                </li>

    </ul>

            <!--            <tr>-->
            <!--                <td th:each="card : ${cardList}">-->
            <!--                    <a href="#"><input type="checkbox"><img alt="" border=3-->
            <!--                                                            height=100 th:src="@{'/images/playingCards/'+${card}+'C.png'}" width=100/></input></a>-->
            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td th:each="card : ${cardList}">-->
            <!--                    <a href="#"><input type="checkbox"><img alt="" border=3-->
            <!--                                                            height=100 th:src="@{'/images/playingCards/'+${card}+'D.png'}" width=100/></input></a>-->

            <!--                </td>-->
            <!--            </tr>-->
            <!--            <tr>-->
            <!--                <td th:each="card : ${cardList}">-->
            <!--                    <a href="#"><input type="checkbox"><img alt="" border=3-->
            <!--                                                            height=100 th:src="@{'/images/playingCards/'+${card}+'S.png'}" width=100/></input></a>-->
            <!--                </td>-->
            <!--            </tr>-->

    <input  type="number" name="value" placeholder="value" th:field="*{value}" />

    <button type="submit">submit</button>

</form>
</body>

</html>